/*
    Gravity Forms SCSS Skeleton
    Version: 1.8
    Compatibility: Gravity Forms 2.7.2
    GitHub: https://github.com/pgrawinkel/gf-scss-skeleton/
*/

.gform_wrapper,
.gform_wrapper.gravity-theme {
	//LEGEND
	.gform_heading {
		.gform_required_legend {
			
		}
	}
	
	//VALIDATION
	.gform_validation_errors {
		h2 {
			.gform-icon {
				
			}
		}
	}
	
	//FORM
	form {
		//PROGRESS
		.gf_progressbar_wrapper {
			.gf_progressbar_title {
				
			}
			
			.gf_progressbar {
				.gf_progressbar_percentage {
					span {
						
					}
				}
			}
		}

		//BODY
		.gform_body {
			.gform_fields {
				//FIELDS
				.gfield,
				.gfield.gfield_error {
					.gfield_label,
					label,
					legend {
						
						.gfield_required {
							&.gfield_required_asterisk {
								
							}
							
							&.gfield_required_text {
								
							}
						}
						
					}
					
					//CONTAINER
					.ginput_container {
						//INPUTS
						input[type="text"],
						input[type="email"],
						input[type="tel"],
						textarea,
						select {
							&:hover {
								
							}
							
							&:focus {
								outline: transparent;
								
								&::placeholder {
									
								}
							}
							
							&::placeholder {
								
							}
						}
					}
					
					//DESCRIPTION
					.gfield_description {
						
					}
					
					//VALIDATION
					.gfield_validation_message {
						
					}
					
					//DSGVO CONSENT
					&.gfield--type-consent {
						.ginput_container {
							label {
								
							}
							
							input {
								&:checked + label {
									
								}
							}
						}
						
						.gfield_consent_description {
							a {
								
							}
						}
					}
					
					//INPUT RADIO
					&.gfield--type-radio {
						.ginput_container {
							.gfield_radio {
								.gchoice {
									label {
										
									}
									
									input {
										&:checked + label {
											
										}
									}
								}
							}
						}
					}
					
					//INPUT CHECKBOX
					&.gfield--type-checkbox {
						.ginput_container {
							.gfield_checkbox {
								.gchoice {
									label {
										
									}
									
									input {
										&:checked + label {
											
										}
									}
								}
							}
						}
					}
					
					
					//INPUT SELECT
					&.gfield--type-select {
						.ginput_container {
							select {
								
							}
						}
					}
					
					
				}
			}
		}
		
		.gform_footer,
		.gform_page_footer {
			//SEND BUTTON
			input[type="submit"] {
				&:hover {
					
				}
				
				&:focus {
					outline: transparent;
				}
			}
			
			//PREV-NEXT BUTTON
			input[type="button"].gform_next_button,
			input[type="button"].gform_previous_button {		
				&:hover {
					
				}
				
				&:focus {
					outline: transparent;
				}
			}
			
			//LOADER
			.gform_ajax_spinner {
				
			}
		}
	}
}

//MESSAGE
.gform_confirmation_wrapper {
	.gform_confirmation_message {
		
	}
}
